.content{
    display: flex;
    justify-content: center;
    padding: 30px;
    align-items: center;
}

.box{
    border-radius: 20px;
    padding: 20px;
    width: 250px;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.city{
    background-color: #d3d3d3;
    font-size: 20px;
    border: none;
    outline: none;
    padding: 12px;
    border-radius: 20px;
}


button{
    background-color: #3f61fb;
    font-size: 20px;
    border: none;
    outline: none;
    padding: 12px;
    border-radius: 20px;
    color: #e4e4e4;
    cursor: pointer;
}

.label{
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}

#btnSection{
    margin: 20px;
}

.info{
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    padding: 30px;
}

.cardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}


.card{
    box-shadow: 10px 10px 40px #00000033;
    margin: 12px;
    /* background-color: #d3d3d3; */
    background-image: linear-gradient(to right, #3f61fb, #75a7dc);
    border-radius: 20px;
    padding: 20px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardImage > img{
    width: 64px;
}

.cardText{
    font-weight: bold;
    
}



